
@{
    ViewBag.Title = "PTByFarm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Farm PT</h5>
                </div>
                <div class="ibox-content">
                    <div class="flot-chart farm-search">
                        <div class="row">
                            <div class="col-lg-12">
                                <center>
                                    <h1>Laboratorio de Catación</h1>
                                    <h2>RESULTADO ANALISIS DE MUESTRA</h2>
                                </center>                                
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-bordered table-responsive">                                    
                                    <tbody>
                                        <tr>
                                            <td colspan="5" align="center"><strong>ANALISIS FISICO Y SENSORIAL DE CAFE</strong></td>
                                            <td>COD: 1010</td>
                                        </tr>
                                        <tr>
                                            <td><strong> Finca</strong></td>
                                            <td colspan="2">la fronteroa</td>
                                            <td><strong> Propietario </strong></td>                                            
                                            <td colspan="2">Fernando Molina</td>
                                        </tr>
                                        <tr>
                                            <td colspan="6" align="center">
                                                <strong> INFORMACION GENERAL DE LA MUESTRA </strong>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><strong> Fecha de recoleccion </strong></td>
                                            <td>22/05/2016</td>
                                            <td><strong> Caficultor </strong></td>
                                            <td>Jorge Eliecer Aguirre</td>
                                            <td><strong> Presentacion </strong></td>
                                            <td>Pergamino</td>
                                        </tr>
                                        <tr>
                                            <td><strong> Fecha de Proceso </strong></td>
                                            <td>22/05/2016</td>
                                            <td><strong> Cantidad Analizada </strong></td>
                                            <td>500.0</td>
                                            <td><strong> Cantidad en gm </strong></td>
                                            <td>500.0</td>
                                        </tr>
                                        <tr>
                                            <td colspan="6" align="center">
                                                <strong> INFORMACION GENERAL DE LA FINCA </strong>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><strong> Nombre de la finca </strong></td>
                                            <td>La Frontera</td>
                                            <td><strong> Calificacion </strong></td>
                                            <td>Raintforest</td>
                                            <td><strong> Sistema Beneficio </strong></td>
                                            <td>Instuccional</td>
                                        </tr>
                                        <tr>
                                            <td><strong> Vereda </strong></td>
                                            <td>El diamante</td>
                                            <td><strong> Variedad </strong></td>
                                            <td>Castillo</td>
                                            <td><strong> Sistema de secado </strong></td>
                                            <td>Solar</td>
                                        </tr>
                                        <tr>
                                            <td><strong> Municipio </strong></td>
                                            <td>Aguadas</td>
                                            <td><strong> Altura </strong></td>
                                            <td>1850</td>
                                            <td><strong> Edad lote años </strong></td>
                                            <td>0</td>
                                        </tr>
                                        <tr>
                                            <td colspan="6" align="center">
                                                <strong> CARACTERISTICAS FISICAS </strong>
                                            </td>                                            
                                        </tr>
                                        <tr>
                                            <td colspan="6" align="center">
                                                <strong>ASPECTOS FISICOS </strong>
                                            </td>
                                        </tr>
                                        <!-- CUADRO DE ASPECTOS FISICOS -->
                                        <tr>
                                            <td colspan="4">
                                                <table class="table table-responsive table-bordered">
                                                    <tr>
                                                        <td></td>
                                                        <td colspan="2" align="center"><strong> Peso en grms </strong></td>
                                                        <td align="center"><strong> Porcentaje %</strong></td>
                                                    </tr>
                                                    <tr>
                                                        <td><strong> Perdida en trilla </strong></td>
                                                        <td colspan="2" align="center">42.0</td>
                                                        <td align="center">16.8</td>
                                                    </tr>
                                                    <tr>
                                                        <td><strong> Almendra Sana </strong></td>
                                                        <td colspan="2" align="center">198.0</td>
                                                        <td align="center">79.2</td>
                                                    </tr>
                                                    <tr>
                                                        <td><strong> Almendra Defectuosa </strong></td>
                                                        <td colspan="2" align="center">8.0</td>
                                                        <td align="center">3.2</td>
                                                    </tr>
                                                    <tr>
                                                        <td><strong> Humedad Verde </strong></td>
                                                        <td colspan="3" align="center">11.3</td>                                                        
                                                    </tr>
                                                    <tr>
                                                        <td><strong> Broca </strong></td>
                                                        <td colspan="3" align="center">0.96</td>                                                        
                                                    </tr>
                                                    <tr>
                                                        <td><strong> Olor y Color </strong></td>
                                                        <td colspan="3" align="center">Olor y color frutos caracteristicos</td>                                                        
                                                    </tr>
                                                    <tr>
                                                        <td><strong>Defectos Fisicos</strong></td>
                                                        <td colspan="3" align="center">Grados brocados y vinagres</td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td colspan="2">
                                                <div class="thumbnail">
                                                    <img src="~/Images/logoEfarming.png" class="img img-responsive" />
                                                </div>
                                            </td>                                            
                                        </tr>
                                        <!-- FIN CUADRO DE ASPECTOS FISICOS -->
                                        <tr>
                                            <td colspan="6">
                                                <center><strong>PUNTAJE DE CATACION Y PERFIL</strong></center>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="3">
                                                <table class="table table-responsive table-bordered">
                                                    <tbody>
                                                        <tr>
                                                            <td colspan="2"><strong>FRAGANCIA AROMA</strong></td>
                                                            <td align="right">4.0</td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="2"><strong> VINOSO</strong></td>
                                                            <td align="right">3.0</td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="2"><strong> ACIDEZ </strong></td>
                                                            <td align="right">4.0</td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="2"><strong> AMARGO </strong></td>
                                                            <td align="right">3.0</td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="2"><strong> CUERPO </strong></td>
                                                            <td align="right">4.0</td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="2"><strong> CALIFICACION </strong></td>
                                                            <td align="right">3.5</td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="3" align="center"><strong> CURVA DE TOSTION</strong></td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="3">
                                                                <img class="img img-responsive" src="~/Images/CurvaDeTostion.jpg" />
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                            <td colspan="3">
                                                <img class="img img-responsive" src="~/Images/QualityExample.jpg" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <strong>Perfil Sensorial</strong>
                                            </td>
                                            <td colspan="4">
                                                FRAGANCIA, CARAMELO, MELOSA, CUERPO JUGOSO, VINOSO ACIDEZ CRITICA
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="6"><center><strong> RECOMENDACIONES </strong></center></td>
                                        </tr>
                                        <tr>
                                            <td colspan="6"><center>REALIZAR RECOLECCION DE CAFE SOLO GRANO MADURO COLOR ROJO Y UVA, REALIZAR ASEO AL BENEFICIADERO DESPUES DE CADA COCHADA Y REALIZAR MANTENIMIENTO A LA DESPULPADORA</center></td>
                                        </tr>
                                        <tr>
                                            <td colspan="6">
                                                <br />
                                                <br />
                                                <br />
                                            </td>
                                        </tr>                                        
                                        <tr>
                                            <td colspan="6"><center>Este informe es de caracter educativo, No tiene ningun uso comercial y solo aplica para las muestras levantadas por el personal de la emrpesa</center></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
