
@charset "UTF-8";

@font-face {
    font-family: "efarming";
    src: url("/fonts/efarming.eot");
    src: url("/fonts/efarming.eot?#iefix") format("embedded-opentype"), url("/fonts/efarming.woff") format("woff"), url("/fonts/efarming.ttf") format("truetype"), url("/fonts/efarming.svg#efarming") format("svg");
    font-weight: normal;
    font-style: normal;
}

[data-icon]:before {
    font-family: "efarming" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="e-icon-"]:before,
[class*=" e-icon-"]:before {
    font-family: "efarming" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.e-icon-farms:before {
    content: "a";
}

.e-icon-susta:before {
    content: "c";
}

.e-icon-trace:before {
    content: "d";
}

.e-icon-quality:before {
    content: "b";
}



h2.icon-title {
    text-transform: capitalize;
    font-weight: bold;
    margin-top: 35px;
    text-align: center;
    color: #006738;
}

a.icon-home {
    text-align: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: #8cc63f;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    padding: 20px;
    color: #006738;
    -webkit-transition: background 0.3s ease-in;
    -moz-transition: background 0.3s ease-in;
    -ms-transition: background 0.3s ease-in;
    -o-transition: background 0.3s ease-in;
    transition: background 0.3s ease-in;
}

    a.icon-home:hover {
        background-color: #4A4A49;
    }

        a.icon-home:hover .sgv-icon {
            color: #fff;
            -webkit-transition: color 0.3s ease-in;
            -moz-transition: color 0.3s ease-in;
            -ms-transition: color 0.3s ease-in;
            -o-transition: color 0.3s ease-in;
            transition: color 0.3s ease-in;
        }

.sgv-icon {
    font-size: 160px;
    margin: 10px auto;
    color: #006738;
    line-height: 0;
}

a.icon-home:hover {
    text-decoration: none;
}

.icon-description {
    color: #888;
    width: 100%;
    text-align: center;
    display: block;
}

.wrapper-content {
    margin-top: 50px;
}
