@{
    //Layout = null;
}

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Calendars (2015) - (2016) </h5>
                </div>
                <div class="ibox-content">
                    <div class="flot-chart farm-search">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="thumbnail">
                                            <div class="img-responsive">
                                                <img class="img-responsive" src="~/Images/Calendar/Calendario2015.png" alt="2015 Calendar" />
                                            </div>
                                            <div class="caption">
                                                <h3>2015 Calendar</h3>
                                                <p>Calendar with all the weeks of the 2015</p>
                                                <p>
                                                    <a class="btn btn-warning" href="~/Images/Calendar/Calendario2015.png">Show calendar</a>
                                                    <a class="btn btn-success" href="~/Images/Calendar/Calendario2015.png" download> Download</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="thumbnail">
                                            <div class="img-responsive">
                                                <img class="img-responsive" src="~/Images/Calendar/Calendario2016.png" alt="2016 Calendar" />
                                            </div>
                                            <div class="caption">
                                                <h3>2016 Calendar</h3>
                                                <p>Calendar with all the weeks of the 2016</p>
                                                <p>
                                                    <a class="btn btn-warning" href="~/Images/Calendar/Calendario2016.png">Show calendar</a>
                                                    <a class="btn btn-success" href="~/Images/Calendar/Calendario2016.png" download> Download</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

