@{
    ViewBag.Title = "Consolidated Projects";    
}

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Consolidated Projects</h5>
                </div>
                <div class="ibox-content">
                    <div class="flot-chart farm-search">
                        <div class="row">
                            <div class="col-lg-12">
                                <iframe style="width:1000px;height:765px" src="https://docs.google.com/spreadsheets/d/1Ynqi7CrpVMEayXYthNeESnBjF18XSjEDGd6AoQLBY84/pubhtml?gid=1553972120&amp;single=true"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>