@{
    //Layout = null;
}

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Planeation Project</h5>
                </div>
                <div class="ibox-content">
                    <div class="flot-chart farm-search">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <iframe style="width:1000px;height:765px" src="https://docs.google.com/spreadsheets/u/1/d/1TV6SObLIfHDwqKaj07tWX5R2a2Lt4XmntekziBReraM/pubhtml?gid=744364065&amp;single=true"></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
