
@{
    ViewBag.Title = "WeeksCalendar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-6">
        <table class="table table-striped">
            <tr>
                <th style="text-align:center" colspan="3">
                    Calendar 2016
                </th>
            </tr>
            <tr>
                <th>
                    Semanas
                </th>
                <th>Comienza</th>
                <th>Finaliza</th>
            </tr>
            <tr>
                <td>Semana 01</td>
                <td>04-Ene-16</td>
                <td>10-Ene-16</td>
            </tr>
            <tr>
                <td>Semana 02</td>
                <td>11-Ene-16</td>
                <td>17-Ene-16</td>
            </tr>
            <tr>
                <td>Semana 03</td>
                <td>18-Ene-16</td>
                <td>24-Ene-16</td>
            </tr>
            <tr>
                <td>Semana 04</td>
                <td>25-Ene-16</td>
                <td>31-Ene-16</td>
            </tr>
            <tr>
                <td>Semana 05</td>
                <td>01-Feb-16</td>
                <td>07-Feb-16</td>
            </tr>
            <tr>
                <td>Semana 06</td>
                <td>08-Feb-16</td>
                <td>14-Feb-16</td>
            </tr>
            <tr>
                <td>Semana 07</td>
                <td>15-Feb-16</td>
                <td>21-Feb-16</td>
            </tr>
            <tr>
                <td>Semana 08</td>
                <td>22-Feb-16</td>
                <td>28-Feb-16</td>
            </tr>
            <tr>
                <td>Semana 09</td>
                <td>29-Feb-16</td>
                <td>06-Mar-16</td>
            </tr>
            <tr>
                <td>Semana 10</td>
                <td>07-Mar-16</td>
                <td>13-Mar-16</td>
            </tr>
            <tr>
                <td>Semana 11</td>
                <td>14-Mar-16</td>
                <td>20-Mar-16</td>
            </tr>
            <tr>
                <td>Semana 12</td>
                <td>21-Mar-16</td>
                <td>27-Mar-16</td>
            </tr>
            <tr>
                <td>Semana 13</td>
                <td>28-Mar-16</td>
                <td>03-Abr-16</td>
            </tr>
            <tr>
                <td>Semana 14</td>
                <td>04-Abr-16</td>
                <td>10-Abr-16</td>
            </tr>
            <tr>
                <td>Semana 15</td>
                <td>11-Abr-16</td>
                <td>17-Abr-16</td>
            </tr>
            <tr>
                <td>Semana 16</td>
                <td>18-Abr-16</td>
                <td>24-Abr-16</td>
            </tr>
            <tr>
                <td>Semana 17</td>
                <td>25-Abr-16</td>
                <td>01-May-16</td>
            </tr>
            <tr>
                <td>Semana 18</td>
                <td>02-May-16</td>
                <td>08-May-16</td>
            </tr>
            <tr>
                <td>Semana 19</td>
                <td>09-May-16</td>
                <td>15-May-16</td>
            </tr>
            <tr>
                <td>Semana 20</td>
                <td>16-May-16</td>
                <td>22-May-16</td>
            </tr>
            <tr>
                <td>Semana 21</td>
                <td>23-May-16</td>
                <td>29-May-16</td>
            </tr>
            <tr>
                <td>Semana 22</td>
                <td>30-May-16</td>
                <td>05-Jun-16</td>
            </tr>
            <tr>
                <td>Semana 23</td>
                <td>06-Jun-16</td>
                <td>12-Jun-16</td>
            </tr>
            <tr>
                <td>Semana 24</td>
                <td>13-Jun-16</td>
                <td>19-Jun-16</td>
            </tr>
            <tr>
                <td>Semana 25</td>
                <td>20-Jun-16</td>
                <td>26-Jun-16</td>
            </tr>
            <tr>
                <td>Semana 26</td>
                <td>27-Jun-16</td>
                <td>03-Jul-16</td>
            </tr>
            <tr>
                <td>Semana 27</td>
                <td>04-Jul-16</td>
                <td>10-Jul-16</td>
            </tr>
            <tr>
                <td>Semana 28</td>
                <td>11-Jul-16</td>
                <td>17-Jul-16</td>
            </tr>
            <tr>
                <td>Semana 29</td>
                <td>18-Jul-16</td>
                <td>24-Jul-16</td>
            </tr>
            <tr>
                <td>Semana 30</td>
                <td>25-Jul-16</td>
                <td>31-Jul-16</td>
            </tr>
            <tr>
                <td>Semana 31</td>
                <td>01-Ago-16</td>
                <td>07-Ago-16</td>
            </tr>
            <tr>
                <td>Semana 32</td>
                <td>08-Ago-16</td>
                <td>14-Ago-16</td>
            </tr>
            <tr>
                <td>Semana 33</td>
                <td>15-Ago-16</td>
                <td>21-Ago-16</td>
            </tr>
            <tr>
                <td>Semana 34</td>
                <td>22-Ago-16</td>
                <td>28-Ago-16</td>
            </tr>
            <tr>
                <td>Semana 35</td>
                <td>29-Ago-16</td>
                <td>04-Sept-16</td>
            </tr>
            <tr>
                <td>Semana 36</td>
                <td>05-Sept-16</td>
                <td>11-Sept-16</td>
            </tr>
            <tr>
                <td>Semana 37</td>
                <td>12-Sept-16</td>
                <td>18-Sept-16</td>
            </tr>
            <tr>
                <td>Semana 38</td>
                <td>19-Sept-16</td>
                <td>25-Sept-16</td>
            </tr>
            <tr>
                <td>Semana 39</td>
                <td>26-Sept-16</td>
                <td>02-Oct-16</td>
            </tr>
            <tr>
                <td>Semana 40</td>
                <td>03-Oct-16</td>
                <td>09-Oct-16</td>
            </tr>
            <tr>
                <td>Semana 41</td>
                <td>10-Oct-16</td>
                <td>16-Oct-16</td>
            </tr>
            <tr>
                <td>Semana 42</td>
                <td>17-Oct-16</td>
                <td>23-Oct-16</td>
            </tr>
            <tr>
                <td>Semana 43</td>
                <td>24-Oct-16</td>
                <td>30-Oct-16</td>
            </tr>
            <tr>
                <td>Semana 44</td>
                <td>31-Oct-16</td>
                <td>06-Nov-16</td>
            </tr>
            <tr>
                <td>Semana 45</td>
                <td>07-Nov-16</td>
                <td>13-Nov-16</td>
            </tr>
            <tr>
                <td>Semana 46</td>
                <td>14-Nov-16</td>
                <td>20-Nov-16</td>
            </tr>
            <tr>
                <td>Semana 47</td>
                <td>21-Nov-16</td>
                <td>27-Nov-16</td>
            </tr>
            <tr>
                <td>Semana 48</td>
                <td>28-Nov-16</td>
                <td>04-Dic-16</td>
            </tr>
            <tr>
                <td>Semana 49</td>
                <td>05-Dic-16</td>
                <td>11-Dic-16</td>
            </tr>
            <tr>
                <td>Semana 50</td>
                <td>12-Dic-16</td>
                <td>18-Dic-16</td>
            </tr>
            <tr>
                <td>Semana 51</td>
                <td>19-Dic-16</td>
                <td>25-Dic-16</td>
            </tr>
            <tr>
                <td>Semana 52</td>
                <td>26-Dic-16</td>
                <td>01-Ene-17</td>
            </tr>
        </table>
    </div>
    <div class="col-md-6">
        <table class="table table-striped">
            <tr>
                <th style="text-align:center" colspan="3">
                    Calendar 2017
                </th>
            </tr>
            <tr>
                <th>
                    Semanas
                </th>
                <th>Comienza</th>
                <th>Finaliza</th>
            </tr>
            <tr>
                <td>Semana 01</td>
                <td>02-Ene-17</td>
                <td>08-Ene-17</td>
            </tr>
            <tr>
                <td>Semana 02</td>
                <td>09-Ene-17</td>
                <td>15-Ene-17</td>
            </tr>
            <tr>
                <td>Semana 03</td>
                <td>16-Ene-17</td>
                <td>22-Ene-17</td>
            </tr>
            <tr>
                <td>Semana 04</td>
                <td>23-Ene-17</td>
                <td>29-Ene-17</td>
            </tr>
            <tr>
                <td>Semana 05</td>
                <td>30-Ene-17</td>
                <td>05-Feb-17</td>
            </tr>
            <tr>
                <td>Semana 06</td>
                <td>06-Feb-17</td>
                <td>12-Feb-17</td>
            </tr>
            <tr>
                <td>Semana 07</td>
                <td>13-Feb-17</td>
                <td>19-Feb-17</td>
            </tr>
            <tr>
                <td>Semana 08</td>
                <td>20-Feb-17</td>
                <td>26-Feb-17</td>
            </tr>
            <tr>
                <td>Semana 09</td>
                <td>27-Feb-17</td>
                <td>05-Mar-17</td>
            </tr>
            <tr>
                <td>Semana 10</td>
                <td>06-Mar-17</td>
                <td>12-Mar-17</td>
            </tr>
            <tr>
                <td>Semana 11</td>
                <td>13-Mar-17</td>
                <td>19-Mar-17</td>
            </tr>
            <tr>
                <td>Semana 12</td>
                <td>20-Mar-17</td>
                <td>26-Mar-17</td>
            </tr>
            <tr>
                <td>Semana 13</td>
                <td>27-Mar-17</td>
                <td>02-Abr-17</td>
            </tr>
            <tr>
                <td>Semana 14</td>
                <td>03-Abr-17</td>
                <td>09-Abr-17</td>
            </tr>
            <tr>
                <td>Semana 15</td>
                <td>10-Abr-17</td>
                <td>16-Abr-17</td>
            </tr>
            <tr>
                <td>Semana 16</td>
                <td>17-Abr-17</td>
                <td>23-Abr-17</td>
            </tr>
            <tr>
                <td>Semana 17</td>
                <td>24-Abr-17</td>
                <td>30-Abr-17</td>
            </tr>
            <tr>
                <td>Semana 18</td>
                <td>01-May-17</td>
                <td>07-May-17</td>
            </tr>
            <tr>
                <td>Semana 19</td>
                <td>08-May-17</td>
                <td>14-May-17</td>
            </tr>
            <tr>
                <td>Semana 20</td>
                <td>15-May-17</td>
                <td>21-May-17</td>
            </tr>
            <tr>
                <td>Semana 21</td>
                <td>22-May-17</td>
                <td>28-May-17</td>
            </tr>
            <tr>
                <td>Semana 22</td>
                <td>29-May-17</td>
                <td>04-Jun-17</td>
            </tr>
            <tr>
                <td>Semana 23</td>
                <td>05-Jun-17</td>
                <td>11-Jun-17</td>
            </tr>
            <tr>
                <td>Semana 24</td>
                <td>12-Jun-17</td>
                <td>18-Jun-17</td>
            </tr>
            <tr>
                <td>Semana 25</td>
                <td>19-Jun-17</td>
                <td>25-Jun-17</td>
            </tr>
            <tr>
                <td>Semana 26</td>
                <td>26-Jun-17</td>
                <td>02-Jul-17</td>
            </tr>
            <tr>
                <td>Semana 27</td>
                <td>03-Jul-17</td>
                <td>09-Jul-17</td>
            </tr>
            <tr>
                <td>Semana 28</td>
                <td>10-Jul-17</td>
                <td>16-Jul-17</td>
            </tr>
            <tr>
                <td>Semana 29</td>
                <td>17-Jul-17</td>
                <td>23-Jul-17</td>
            </tr>
            <tr>
                <td>Semana 30</td>
                <td>24-Jul-17</td>
                <td>30-Jul-17</td>
            </tr>
            <tr>
                <td>Semana 31</td>
                <td>31-Jul-17</td>
                <td>06-Ago-17</td>
            </tr>
            <tr>
                <td>Semana 32</td>
                <td>07-Ago-17</td>
                <td>13-Ago-17</td>
            </tr>
            <tr>
                <td>Semana 33</td>
                <td>14-Ago-17</td>
                <td>20-Ago-17</td>
            </tr>
            <tr>
                <td>Semana 34</td>
                <td>21-Ago-17</td>
                <td>27-Ago-17</td>
            </tr>
            <tr>
                <td>Semana 35</td>
                <td>28-Ago-17</td>
                <td>03-Sept-17</td>
            </tr>
            <tr>
                <td>Semana 36</td>
                <td>04-Sept-17</td>
                <td>10-Sept-17</td>
            </tr>
            <tr>
                <td>Semana 37</td>
                <td>11-Sept-17</td>
                <td>17-Sept-17</td>
            </tr>
            <tr>
                <td>Semana 38</td>
                <td>18-Sept-17</td>
                <td>24-Sept-17</td>
            </tr>
            <tr>
                <td>Semana 39</td>
                <td>25-Sept-17</td>
                <td>01-Oct-17</td>
            </tr>
            <tr>
                <td>Semana 40</td>
                <td>02-Oct-17</td>
                <td>08-Oct-17</td>
            </tr>
            <tr>
                <td>Semana 41</td>
                <td>09-Oct-17</td>
                <td>15-Oct-17</td>
            </tr>
            <tr>
                <td>Semana 42</td>
                <td>16-Oct-17</td>
                <td>22-Oct-17</td>
            </tr>
            <tr>
                <td>Semana 43</td>
                <td>23-Oct-17</td>
                <td>29-Oct-17</td>
            </tr>
            <tr>
                <td>Semana 44</td>
                <td>30-Oct-17</td>
                <td>05-Nov-17</td>
            </tr>
            <tr>
                <td>Semana 45</td>
                <td>06-Nov-17</td>
                <td>12-Nov-17</td>
            </tr>
            <tr>
                <td>Semana 46</td>
                <td>13-Nov-17</td>
                <td>19-Nov-17</td>
            </tr>
            <tr>
                <td>Semana 47</td>
                <td>20-Nov-17</td>
                <td>26-Nov-17</td>
            </tr>
            <tr>
                <td>Semana 48</td>
                <td>27-Nov-17</td>
                <td>03-Dic-17</td>
            </tr>
            <tr>
                <td>Semana 49</td>
                <td>04-Dic-17</td>
                <td>10-Dic-17</td>
            </tr>
            <tr>
                <td>Semana 50</td>
                <td>11-Dic-17</td>
                <td>17-Dic-17</td>
            </tr>
            <tr>
                <td>Semana 51</td>
                <td>18-Dic-17</td>
                <td>24-Dic-17</td>
            </tr>
            <tr>
                <td>Semana 52</td>
                <td>25-Dic-17</td>
                <td>31-Dic-17</td>
            </tr>
        </table>
    </div>
</div>