
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Consolidated Projects</h5>
                </div>
                <div class="ibox-content">
                    <div class="flot-chart farm-search">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <h3>Select Farm</h3>
                                <p>Write the Code of the Farm</p>

                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

