
@{
    ViewBag.Title = "Demo App Efarming";
    Layout = "";
}

<html>
<head>
    <title>Demo App Efarming</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    @*<link rel="stylesheet" href="assets/css/main.css" />*@
    <link rel="stylesheet" href="~/Content/assetsDemoApp/css/main.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
    @*<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>*@
    <noscript><link rel="stylesheet" href="~/Content/assetsDemoApp/css/noscript.css" /></noscript>
    <link rel="stylesheet" href="~/Content/SocialMedia.css" />
</head>
<body class="is-loading-0 is-loading-1 is-loading-2">

    <!-- Main -->
    <div id="main">

        <!-- Header -->
        <header id="header">
            <h1>Quality Android Application</h1>
            <p>Screenshots of the Quality Android Application implemented for collect the information of Sensory Profile tests and Physical quality tests </p>
            <a href="https://www.facebook.com/efarming.co" target="_blank" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a>
            |
            <a href="https://www.twitter.com/efarmingcfx" class="icoTwitter" target="_blank" title="Twitter"><i class="fa fa-twitter"></i></a>
            |
            <a href="https://plus.google.com/u/0/111447494126962811472/about" class="icoGoogle" target="_blank" title="Google +"><i class="fa fa-google-plus"></i></a>
            |
            <a href="https://www.linkedin.com/company/cafexport" class="icoLinkedin" target="_blank" title="Linkedin"><i class="fa fa-linkedin"></i></a>
        </header>

        <!-- Thumbnail -->
        <section id="thumbnails">
            <article>
                <a class="thumbnail" href="~/Images/imagesDemo/fulls/01.jpg" data-position="left center"><img src="~/Images/imagesDemo/fulls/01.jpg" alt="" /></a>
                <h2>Efarming Home Android Application</h2>
                <h2>Select (CALIDAD) button </h2>
            </article>
            <article>
                <a class="thumbnail" href="~/Images/imagesDemo/fulls/02.jpg"><img src="~/Images/imagesDemo/thumbs/02.jpg" alt="" /></a>
                <h2>Header Quality Form</h2>
                <h2>Enter the code of the farm or microlot</h2>
            </article>
            <article>
                <a class="thumbnail" href="~/Images/imagesDemo/fulls/03.jpg" data-position="top center"><img src="~/Images/imagesDemo/thumbs/03.jpg" alt="" /></a>
                <h2>Type of test</h2>
                <h2>Select Quality test or Physical test</h2>
            </article>
            <article>
                <a class="thumbnail" href="~/Images/imagesDemo/fulls/04.jpg"><img src="~/Images/imagesDemo/thumbs/04.jpg" alt="" /></a>
                <h2>Atributes range</h2>
                <h2>Select the atributes of the test and the range</h2>
            </article>
            <article>
                <a class="thumbnail" href="~/Images/imagesDemo/fulls/05.jpg" data-position="top center"><img src="~/Images/imagesDemo/thumbs/05.jpg" alt="" /></a>
                <h2>Clasification of the test</h2>
                <h2>Put the clasification of the test in one category</h2>
            </article>
            <article>
                <a class="thumbnail" href="~/Images/imagesDemo/fulls/06.jpg"><img src="~/Images/imagesDemo/thumbs/06.jpg" alt="" /></a>
                <h2>Aditional Information</h2>
                <h2>Put aditional information and observations </h2>
            </article>
            <article>
                <a class="thumbnail" href="~/Images/imagesDemo/fulls/07.jpg"><img src="~/Images/imagesDemo/thumbs/07.jpg" alt="" /></a>
                <h2>Survey Systen</h2>
                <h2>Organice by categories</h2>
            </article>
            <article>
                <a class="thumbnail" href="~/Images/imagesDemo/fulls/08.jpg"><img src="~/Images/imagesDemo/thumbs/08.jpg" alt="" /></a>
                <h2>Different type of Questions</h2>                
            </article>
            <article>
                <a class="thumbnail" href="~/Images/imagesDemo/fulls/09.jpg"><img src="~/Images/imagesDemo/thumbs/09.jpg" alt="" /></a>
                <h2>Sync and capture offline info</h2>                
            </article>            
        </section>

        <!-- Footer -->
        <footer id="footer">
            <ul class="copyright">
                <li>&copy; Efarming.</li>
                <li>Design by: <a href="#">Cafexport</a></li>
            </ul>
        </footer>

    </div>    
    <!-- Scripts -->
    @*<script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/skel.min.js"></script>*@
    <script src="~/Scripts/jquery-2.1.1.min.js"></script>
    <script src="~/Content/assetsDemoApp/js/skel.min.js"></script>
    <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
    @*<script src="assets/js/main.js"></script>*@
    <script src="~/Content/assetsDemoApp/js/main.js"></script>
</body>
</html>