@model EFarming.Core.TasqModule.Module

@{
    ViewBag.Title = "Edit";
}

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

<div class="row remote" id="module-form">
    <div class="col-md-10 col-md-offset-1">
        <h4>Categoría</h4>
        <form action="@Url.Action("Edit", "Modules")" method="post" class="form-horizontal to-validate remote-form" role="form" data-target="modules-content">
            @Html.Partial("~/Areas/SustainabilityArea/Views/Modules/_Form.cshtml", Model)
        </form>
    </div>
</div>
<script src="~/Scripts/remote-validation.js"></script>