@model EFarming.DTO.FarmModule.FertilizerDTO
<div class="row remote">
    <div class="col-md-10 col-md-offset-1">
        <h4>@FarmMessages.Soil_Analysis</h4>
        <form action="@Url.Action("Edit", "Fertilizers", new { farmId = Model.FarmId })" class="form-horizontal to-validate remote-form" role="form" data-target="fertilizers-content">
            @Html.Partial("~/Views/Fertilizers/_Form.cshtml", Model)
            @Html.HiddenFor(model => model.Id)
        </form>
    </div>
</div>
<script src="~/Scripts/remote-validation.js"></script>
