@{
    Layout = null;
}

<div class="row">
    @*<div class="col-sm-3 col-md-3">
        <center>
            <h3>Product Sites</h3>
        </center>
        <ul class="">
            <li><a href="http://efarming.co" target="_blank">Efarming.co</a></li>
            <li><a href="http://pruebas.efarming.co" target="_blank">Efarming Survey</a></li>
            <li><a href="http://farmways.co" target="_blank">Farmwaysco</a></li>
        </ul>
    </div>
    <div class="col-sm-3 col-md-3">
        <center>
            <h3>Support</h3>
        </center>
        <ul>
            <li><a href="https://efarming.zendesk.com/hc/en-us/requests/new" target="_blank">Contact with our support</a></li>
            <li><a href="https://efarming.zendesk.com/hc/en-us" target="_blank">Help Center</a></li>
            <li><a href="https://efarming.zendesk.com/access/unauthenticated" target="_blank">Support Login</a></li>
        </ul>

    </div>
    <div class="col-sm-3 col-md-3">
        <center>
            <h3>Tutorial</h3>
        </center>
        <ul>
            <li><a href="https://efarming.zendesk.com/hc/en-us/articles/211918327" target="_blank">How Login?</a></li>
            <li><a href="https://efarming.zendesk.com/hc/en-us/articles/211918487" target="_blank">How Register?</a></li>
            <li><a href="https://efarming.zendesk.com/hc/en-us/requests/new" target="_blank">How contact with the support</a></li>
        </ul>
    </div>
    <div class="col-sm-3 col-md-3">
        <center>
            <h3>Social Media</h3>
            <a href="#" class="icoRss" target="_blank" title="Rss"><i class="fa fa-rss"></i></a>
            |
            <a href="https://www.facebook.com/efarming.co" target="_blank" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a>
            |
            <a href="https://www.twitter.com/efarmingcfx" class="icoTwitter" target="_blank" title="Twitter"><i class="fa fa-twitter"></i></a>
            |
            <a href="https://plus.google.com/u/0/111447494126962811472/about" class="icoGoogle" target="_blank" title="Google +"><i class="fa fa-google-plus"></i></a>
            |
            <a href="https://www.linkedin.com/company/cafexport" class="icoLinkedin" target="_blank" title="Linkedin"><i class="fa fa-linkedin"></i></a>
	  <br />
            <a href="@Url.Action("TeamEfarming", "Accounts", new { area = ""})">The team</a>
        </center>
    </div>*@
    <div class="col-sm-12 col-md-12">
        <center>
            <!-- Mensagge Footer-->
            <br />
            <p class="text-center">@string.Format(Message.Footer, DateTime.UtcNow.Year)</p>
        </center>
    </div>
</div>
