@model EFarming.DTO.FarmModule.FarmOtherActivityDTO
<div class="row remote" id="other-activity-form">
    <div class="col-md-10 col-md-offset-1">
        <h4>@AdminMessage.Other_Activity</h4>
        <form action="@Url.Action("Edit", "FarmOtherActivities")" class="form-horizontal to-validate remote-form" role="form" data-target="other-activities-content">
            @Html.Partial("~/Views/FarmOtherActivities/_Form.cshtml", Model)
        </form>
    </div>
</div>
<script>
    var selectedOtherActivity = "@Model.OtherActivityId";
</script>
<script src="~/Scripts/mvvm/otherActivity.js"></script>
<script src="~/Scripts/remote-validation.js"></script>
