
@{
    ViewBag.Title = "Soporte";
    Layout = "~/Views/Shared/_layout_without_menu.cshtml";
}

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-1 col-sm-1">
            
        </div>
        <div class="col-lg-10 col-sm-10">
            <iframe src="https://efarming.zendesk.com/hc/es/requests/new" width="100%" height="100%"></iframe>    
        </div>
        <div class="col-lg-1 col-sm-1">

        </div>
    </div> 
</div>